body {
    margin: 0;
}

body.dark {
    background-color: #060606;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body:has(#menu-toggle:checked) {
    overflow: hidden;
    touch-action: none; 
}