.btn {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #6e6e6e;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border-radius: 4rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease-in-out;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #6e6e6e;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.btn-container.column { 
    grid-template-columns: 1fr;
}

.btn-container button,
.btn-container a {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn.filled {
    background-color: #6e6e6e;
    color: #ffffff;
}

.btn.filled:hover {
    background-color: #585858;
    border: 1px solid #585858;
}

.btn.width-100 {
    width: 100%;
}

.btn.dark-text {
    color: #060606;
    background-color: transparent;
    transition: color 0.3s ease, background-color 0.3s ease;
    border: 1px solid #333;
    cursor: pointer;
}

.btn.dark-text:hover {
    color: #ffffff;
    background-color: #333;
}

.circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: transparent;
    border: 1px solid #6e6e6e;
    aspect-ratio: 1/1;
    color: #ffffff;
    font-size: 2em;
    font-weight: 400;
    box-sizing: border-box;
}

.btn.filled.light {
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: #ffffff;
    color: #1a1a1a;
    border: 1px solid #ffffff;
    font-weight: 700;
    letter-spacing: 0.2rem;
    cursor: pointer;
    align-self: flex-start;
    transition: all 0.3s ease;
}

.btn.filled.light:hover {
    background-color: rgb(29, 29, 29);
    color: #ffffff;
    border: 1px solid #292929;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(5px); }
}

.scroll-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    animation: bounce 2s infinite;
    background-image: url(../images/icons/arrow-down.webp);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.back-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 1px solid #d3d3d3;
    padding: 0;
    padding-bottom: 0.1rem;
}

.back-button:hover {
    border-bottom: 1px solid #424242;
}
