body {
    font-family: 'Urbanist', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    color: #ffffff;
}

h1 {
    font-weight: 600;
    font-size: 2.25em;
}

h2 {
    font-weight: 500;
    font-size: 2em;
}

h2 {
    font-weight: 500;
    font-size: 1.75em;
}

h3 {
    font-weight: 500;
    font-size: 1.25em;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

.dropdown-arrow {
    color: #ffffff;
    margin-bottom: 0.05rem;
}

footer .dropdown-arrow {
    color: #060606;
}

.right-arrow {
    color: #ffffff;
    font-size: 1.5em;
}

.med-text {
    font-weight: 600;
    font-size: 2.75em;
    color: #ffffff;
    line-height: 1.1;
    letter-spacing: 0.1rem;
}

.big-text {
    font-weight: 500;
    font-size: 4em;
    color: #ffffff;
    line-height: 1.1;
}

.big-text.dark {
    color: #060606;
}

.med-text {
    font-weight: 500;
    font-size: 3em;
    color: #ffffff;
    line-height: 1.1;
}

section.info p {
    color: #060606;
}

b {
    font-weight: bold;
}

section.integrations p,
section.integrations h1,
section.integrations h3,
section.integrations h4 {
    color: #060606;
}

section.features p,
section.features h1,
section.features h2,
section.features h3,
section.features h4 {
    color: #060606;
}

section.system-drawings p,
section.system-drawings h1,
section.system-drawings h2,
section.system-drawings h3,
section.system-drawings h4 {
    color: #060606;
}

section.products p,
section.products h1,
section.products h2,
section.products h3,
section.products h4,
section.grey p {
    color: #060606;
}

section.hardware-configurator p,
section.hardware-configurator h1,
section.hardware-configurator h2,
section.hardware-configurator h3,
section.hardware-configurator h4,
section.grey p {
    color: #060606;
}

.text-center {
    text-align: center
}

.base.dark h4 {
    color: #ffffff;
    font-weight: 400;
}

footer p{
    color: #9c9c9c;
}

.left-indent {
    padding-left: 0.5rem;
}

.hero-text {
    font-size: 6em;
    color: #ffffff;
    line-height: 1.1;
    font-weight: 600;
}

.padding-right-4 {
    padding-right: 4rem;
}

.left.dom-grid h2
.right.dom-grid h2,
.left.dom-grid p,
.right.dom-grid p {
    color: #ffffff;
}