.dual-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.four-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}