.square {
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}

.square.medium {
    max-height: 500px;
    justify-self: center;
}

.square.small {
    max-height: 200px;
    border: 1px solid #bdbdbdd2;
    border-radius: 1px;
}

.product-info-container .square.small {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.product-info-container .square.small:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem);
}

.square.small img {
    object-fit: contain; 
    padding: 1rem; 
    box-sizing: border-box;
}

.square img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.rounded-glaze {
    border-radius: 2rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rounded-glaze::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(43, 43, 43, 0.235), rgba(255, 255, 255, 0));
    pointer-events: none;
}

.gif.sect {
    min-height: 800px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.contact.image {
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-image: url(../images/products/photoshoot.webp);
}

.gif.sect.sliding {
    background-image: url(../images/gifs/sliding.gif);
}

.gif.sect.bifolds {
    background-image: url(../images/gifs/folding.gif);
}

.preview.one {
    background-image: url(../images/hero/t100.webp);
}

.preview.two {
    background-image: url(../images/hero/a100.webp);
}

.preview.three {
    background-image: url(../images/hero/t350.webp);
}

.preview.four {
    background-image: url(../images/hero/doorware.webp);
}

.preview {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    background: #f9f9f9;
    overflow: hidden;
    border-radius: 4px;
}

.preview > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
   
    opacity: 0;
    transform: scale(1.05);
    transition: opacity 0.6s ease, transform 1.2s ease;
}

.preview > div.active {
    opacity: 1;
    transform: scale(1);
}

.light-grey-bg {
    background-color: #e9e9e971;
}

@media screen and (max-width: 1550px) {
    .hero .square {
        max-height: 500px;
        aspect-ratio: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .square img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    section.info .square {
        order: -1;
        aspect-ratio: 4/3;
    }
}