.line {
    width: 100vw;
    height: 1px;
    background-color: #E0E0E0;
}

.line.dark {
    background-color: #b9b9b9;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
}

.separator.cut {
    background: linear-gradient(
        to right, 
        #060606 0%,
        #E0E0E0 20%,
        #E0E0E0 80%,
        #060606 100%
    );
}

.separator.bolder {
   background-color: #a3a3a3; 
}

.indent {
    width: 30px;
    height: 30px;
    background-color: #b8b8b8;
    margin-top: 0.4rem;
}

.label {
    padding: 0.5rem 1rem;
    border: 1px solid #c9c9c9;
    border-radius: 10rem;
    width: fit-content;
    font-size: 0.75em;
    color: #646464;
}