nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 0;
    color: #ffffff;
}

nav ul {
    display: flex;
    flex-flow: row;
    gap: 2rem;
    padding-left: 0;
}

nav ul li {
    list-style: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 0.5rem;
    transition: border-bottom 0.2s ease-in-out;
}

nav ul li:first-of-type {
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
}

nav ul li:hover {
    border-bottom: 1px solid #ffffff;
}

.logo {
    background-image: url(../images/logos/titan-white.webp);
    display: flex;
    width: 8rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hamburger-dropdown {
    background-image: url(../images/icons/hamburger-light.webp);
    display: none;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}