nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 0;
    color: #ffffff;
}

nav ul,
footer ul {
    display: flex;
    flex-flow: row;
    gap: 2rem;
    padding-left: 0;
}

nav ul li,
footer ul li {
    list-style: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 0.5rem;
    transition: border-bottom 0.2s ease-in-out;
}

nav ul li:first-of-type,
footer ul li:first-of-type {
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
}

nav ul li:hover {
    border-bottom: 1px solid #ffffff;
}

footer ul li:hover {
    border-bottom: 1px solid #060606;
}

li.active {
    color: rgb(11, 245, 31);
}

.logo {
    background-image: url(../images/logos/titan-white.webp);
    display: flex;
    width: 8rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logo.dark {
    background-image: url(../images/logos/titan-black.webp);
}

.hamburger-dropdown {
    background-image: url(../images/icons/hamburger-light.webp);
    display: none;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.powered-by {
    text-align: end;
    transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    font-weight: 400;
}

.powered-by:hover {
    color: #555555;
    font-weight: 500;
}

.powered-by.light {
    color: #ffffff;
    font-weight: 500;
}

.powered-by.light:hover {
    color: #adadad;
    font-weight: 500;
}

.products-trigger {
    position: relative;
    cursor: pointer;
   
}

.products-trigger::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px;
    background: transparent;
    z-index: 10;
}

.dropdown-arrow {
    font-size: 0.7rem;
    transition: transform 0.3s ease;
}


.dropdown-menu.is-open ~ nav .dropdown-arrow {
    transform: rotate(180deg);
}


.dropdown-menu {
    background-color: #ffffff;
    z-index: 1000;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100vw;
    padding: 4rem 0;
    color: #060606;
    border-bottom: 1px solid #eeeeee;
    
   
    display: flex; 
    justify-content: center;

   
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(15px);
    transition: 
        opacity 0.4s ease, 
        transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        visibility 0.4s;
}


.dropdown-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}


.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 400px;
}

.dropdown-menu ul li {
    border-top: 1px solid #d3d3d3;
    transition: all 0.3s ease;
}

.dropdown-menu ul li:first-child {
    border-top: none;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #060606;
    display: block;
    padding: 1.2rem 0;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    transition: transform 0.3s ease, color 0.3s ease;
}


.dropdown-menu ul li:hover a {
    transform: translateX(10px);
    color: #888888;
}

@media screen and (max-width: 1080px) {
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    footer .powered-by {
        text-align: start;
        padding-left: 0.5rem;
        margin-top: 2rem;
    }
    nav .center {
        align-items: flex-start;
    }
}