section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section.intro {
    background-color: #060606;
}

section.info {
    background-color: #ffffff;
}