section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section.intro {
    background-color: #060606;
}

section.info {
    background-color: #ffffff;
}

footer {
    border-top: 1px solid #b9b9b9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section.grey {
    background-color: #dbdbdba9;
    height: 350px;
    position: relative;
    width: 100vw;  
}
