.margin-vert-small {
    margin: 2rem 0;
}

.margin-vert {
    margin: 4rem 0;
}

.margin-vert-big {
    margin: 8rem 0;
}

.margin-vert-int {
    margin: 8rem 0 4rem 0
}

.content-space {
    display: flex;
    flex-flow: column;
    gap: 4rem;
    /* overflow: hidden; */
}

.margin-1 {
    margin: 1rem 0;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

.margin-bot-4 {
    margin-bottom: 4rem;
}

.margin-bot-8 {
    margin-bottom: 8rem;
}

.dual-grid.gap-4 {
    gap: 4rem;
}

.dual-grid.gap-8 {
    gap: 8rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-small {
    gap: .5rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-8 {
    gap: 8rem;
}

.dual-grid.gap-none {
    gap: 0;
}

.width-100 {
    width: 100%;
}

.width-68 {
    width: 68%;
}

.min-height-300 {
    min-height: 300px;
}

.min-height-800 {
    min-height: 800px;
}

.width-100vw {
    width: 100vw;
}

.margin-bot-2 {
    margin-bottom: 2rem;
}

.padding-0 {
    padding: 0;
}

.padding-2 {
    padding: 2rem;
}

.margin-bot-4 {
    margin-bottom: 4rem;
}

.margin-bot-8 {
    margin-bottom: 8rem;
}

.space-between {
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .padding-right-4 {
        padding-right: 0;
    }
    .margin-vert-big {
        margin: 4rem 0;
    }
    .content-space {
        gap: 2rem;
    }
}